.contents__popular-brands
  %h3.contents__popular-brands__title 人気のブランド
  %ul.contents__popular-brands__genres
    %li.contents__popular-brands__genres__genre1 シャネル
    %li.contents__popular-brands__genres__genre2 ルイヴィトン
    %li.contents__popular-brands__genres__genre3 シュプリーム
    %li.contents__popular-brands__genres__genre4 ナイキ
