.contents__footer
  %img.contents__footer__img{src: "assets/baner1.jpg"}/
  .contents__footer__box
    .contents__footer__box__sentence
      %p.contents__footer__box__sentence__catch スマホでかんたんフリマアプリ
      %h3.contents__footer__box__sentence__message 今すぐ無料ダウンロード！
      .contents__footer__box__sentence__app-links
        %img{alt: "fmarket", src:"logo_red.svg", class:"contents__footer__box__sentence__app-links__logo", width: "80", height: "80"}
        %a.contents__footer__box__sentence__app-links__apple{href: "https://apps.apple.com/jp/app/id667861049?l=ja"}
          = image_tag "apple.svg",class:'contents__footer__box__sentence__app-links__apple__img"', width: "150", height: "50"
        %a.contents__footer__box__sentence__app-links__google{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
          = image_tag "google.svg",class:'contents__footer__box__sentence__app-links__link-google__img', width: "150", height: "50"
    %img.contents__footer__box__smartphone{height: "260", src: "assets/smartphone2.png"}/
