.side-bar
  .mypage-nav
    %ul.mypage-box
      %a{href: "#"}
        %li
          マイページ
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          お知らせ
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          やることリスト
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          いいね！一覧
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          出品する
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          出品した商品 - 出品中
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          出品した商品 - 取引中
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          出品した商品 - 売却済み
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          購入した商品 - 取引中
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          購入した商品 - 過去の取引
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          ニュース一覧
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          評価一覧
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          ガイド
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          お問い合わせ
          %i.fas.fa-chevron-right
    %h3.mypage-head
      メルペイ
    %ul.mypage-box
      %a{href: "#"}
        %li
          残高・振込申請
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          ポイント
          %i.fas.fa-chevron-right
    %h3.mypage-head
      設定
    %ul.mypage-box
      %a{href: "#"}
        %li
          プロフィール
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          支払い方法
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          メール/パスワード
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          本人情報
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          電話番号の確認
          %i.fas.fa-chevron-right
      %a{href: "#"}
        %li
          ログアウト
          %i.fas.fa-chevron-right