.registration
  %nav.registration__nav
    %ul
      %li
        = link_to "#" do
          %span メルカリ
          %i.fas.fa-chevron-right
      %li
        = link_to "#" do
          %span マイページ
          %i.fas.fa-chevron-right
      %li.payment
        %span 本人情報の登録
