.wrapper
  .container
    %h2.container__header 新規会員登録
    .container__btn-list
      .container__btn-list__box
        %a.container__btn-list__box__mail-btn{href:"#"}
          .container__btn-list__box__mail-btn__box
            %i.far.fa-envelope
            %p メールアドレスで登録する
        %a.container__btn-list__box__facebook-btn{href:"#"}
          .container__btn-list__box__facebook-btn__box
            %i.fab.fa-facebook-square
            %p Facebookで登録する
        %a.container__btn-list__box__google-btn{href:"#"}
          .container__btn-list__box__google-btn__box
            %i.fab.fa-google
            %p Googleで登録する

