.product
  .product__item
    %h1.product__item__name バッグ
    .product__item__main
      .product__item__main__photo
        %img{"data-src": "https://static.mercdn.net/item/detail/orig/photos/m86923341585_3.jpg?1578888686", style: "opacity: 1;"}/

        .product__item__main__photo__1
          .product__item__main__photo__1__box
            .product__item__main__photo__1__box__stage

      .product__item__main__detail
        %tbody.product__item__main__detail__tbody
          %th.product__item__main__detail__tbody__th 出品者
          %td.product__item__main__detail__tbody__td
            = link_to '' "太郎"

      .product__item__main__photo__dots
            