.total
  .total__box
    .total__box__login
      .total__box__login__box
        %p アカウントをお持ちでない方はこちら
        .total__box__login__box__new 新規会員登録
      .total__box__login__box-2
        .total__box__login__box-2__btn-facebook
          %i.total__box__login__box-2__btn-facebook.fab.fa-facebook-square
          %p facebookでログイン
        .total__box__login__box-2__btn-google
          .total__box__login__box-2__btn-google__icon.fab.fa-google 
          %p Googleでログイン
      .total__box__login__box-3
        .total__box__login__box-3__form
          .total__box__login__box-3__form__box
            %input.total__box__login__box-3__form__box__email{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/
          .total__box__login__box-3__form__box
            %input.total__box__login__box-3__form__box__email{name: "password", placeholder: "パスワード", type: "password", value: ""}/
          -# .total__box__login__box-3__form__robot
          -#   .total__box__login__box-3__form__robot__box
          -#     .total__box__login__box-3__form__robot__box__frame
          -#       %i.total__box__login__box-3__form__robot__box__frame__icon.far.fa-square
          -#       %p 私はロボットではあり
          -#       %br ません
                

          %button.total__box__login__box-3__form__login-submit{type: "submit"} ログイン
          .total__box__login__box-3__form__note パスワードをお忘れの方