.contents__popular-category
  %h3.contents__popular-category__title 人気のカテゴリー
  %ul.contents__popular-category__genres
    %li.contents__popular-category__genres__genre1 レディース
    %li.contents__popular-category__genres__genre2 メンズ
    %li.contents__popular-category__genres__genre3 家電・スマホ・カメラ
    %li.contents__popular-category__genres__genre4 おもちゃ・ホビー・グッズ
