

-# = render 'header'
-# = render 'registration'
-# = render 'footer'

-# = render partial: 'credit'
-# = render partial: 'header'
-# .contents
-#   = render partial: 'contents-header'
-#   = render partial: 'new-item'
-#   = render partial: 'ladies'
-#   = render partial: 'mens'
-#   = render partial: 'electronics'
-#   = render partial: 'brands'
-#   = render partial: 'chanel'
-#   = render partial: 'louis-vitton'
-#   = render partial: 'supreme'
-#   = render partial: 'nike'
-#   = render partial: 'contents-footer'
-# = render partial: 'footer'

-# = render partial: 'products-exhibition'

= render 'register'

