* {
    margin: 0;
    padding: 0;
}

.all {
    background-color: #f5f5f5;
    width: 100vw;
    height: 100%;
    &__header {
        height: 128px;
        text-align: center;
        img {
            width: 200px;
            height: 128px;
        }
    }
    &__main {
        height: 100%;
        &__contents {
            width: 700px;
            margin: 0 auto;
            height: 100%;
            &__top {
                height: 97px;
                font-size: 22px;
                font-weight: bold;
                background-color: #fff;
                color: #333;
                padding-top: 33px;
                text-align: center;
                border-bottom: 2px solid #f5f5f5;
            }
            &__images {
                height: 100%;
                padding: 40px;
                background-color: #fff;
                border-bottom: 2px solid #f5f5f5;
                &__head {
                    font-weight: bold;
                    span {
                        background-color: red;
                        color: white;
                        padding: 4px;
                        border-radius: 2px;
                        font-size: 14px;
                    }
                }
                .image-box{
                    display: flex;
                    height: 162px;
                    width: 100%;
                    .none{
                        display: none;
                    }
                    .pic{
                        display: block;
                    }

                    .image-lists{
                        display: flex;
                        .image-list{
                            display: none;
                            height: 100%;
                            width: 116px;
                            background-color: #f5f5f5;
                            position: relative;
                            text-align: center;
                            line-height: 44px;
                            .image{
                                height: 140px;
                                background-color: blue;
                                position: absolute;
                                top: 2px;
                                left: 5px;
                                right: 5px;
                                object-fit: cover;
                                img{
                                    height: 140px;
                                    width: 106px;
                                }
                            }
                            .image-destroy{
                                height: 44px;
                                width: 100%;
                                background-color: #f5f5f5;
                                position: absolute;
                                bottom: 0;
                                color: #0099e8;
                            }
                        }
                        .edit-list{
                            display:block;
                        }
                        .active{
                            display: block;
                        }
                    }
                    &__square {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        background-color: #f5f5f5;
                        border: 1px dashed #ccc;
                        text-align: center;
                        font-size: 14px;

                        pre{
                            position: absolute;
                            white-space:pre-wrap;
                            word-wrap: break-word;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
                input {
                    opacity:0;
                }

                p.column {
                    font-size: 14px;
                    margin-top: 5px;
                }
            }
            &__products{
                height: 100%;
                padding: 40px;
                background-color: #fff;
                border-bottom: 2px solid #f5f5f5;
                &__name {
                    font-size: 14px;
                    font-weight: bold;
                    .name-column {
                        width: 100%;
                        margin-top: 10px;
                        height: 50px;
                        padding: 0 20px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                    }
                    span {
                        background-color: red;
                        color: white;
                        padding: 4px;
                        border-radius: 2px;
                    }
                }
                &__description {
                    font-size: 14px;
                    font-weight: bold;
                    margin-top: 30px;
                    .description-column {
                        width: 100%;
                        margin-top: 10px;
                        height: 150px;
                        padding: 10px;
                        border: 1px solid #ccc;
                    }
                    span {
                        background-color: red;
                        color: white;
                        padding: 4px;
                        border-radius: 2px;
                    }
                }
            }
            &__details {
                height: 100%;
                padding: 40px;
                background-color: #fff;
                border-bottom: 2px solid #f5f5f5;
                display: flex;
                justify-content: space-between;
                &__left-box {
                    height: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    color: #aaa;
                }
                &__right-box {
                    width: 400px;
                    &__category {
                        font-size: 14px;
                        font-weight: bold;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    &__size {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    &__brand {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: #aaa;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    input.name {
                        width: 100%;
                        margin-top: 10px;
                        height: 50px;
                        padding: 0 20px;
                        border-radius: 5px;
                        border: 1px solid #ccc;
                    }
                    &__condition {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    select {
                        height: 48px;
                        background-color: #fff;
                        margin-top: 5px;
                        width: 100%;
                    }
                }
            }
            &__delivery {
                height: 100%;
                padding: 40px;
                background-color: #fff;
                display: flex;
                border-bottom: 2px solid #f5f5f5;
                &__left-box {
                    width: 35%;
                    height: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    color: #aaa;
                    display: flex;
                    a {
                        text-decoration: none;
                        background-color: #0099e8;
                        color: white;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                    }
                }
                &__right-box {
                    width: 400px;
                    height: 100%;
                    &__burden {
                        font-size: 14px;
                        font-weight: bold;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    &__method {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    &__prefectures {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    &__dates {
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 40px;
                        span {
                            background-color: red;
                            color: white;
                            padding: 4px;
                            border-radius: 2px;
                        }
                    }
                    select {
                        height: 48px;
                        background-color: #fff;
                        margin-top: 5px;
                        width: 100%;
                    }
                }
            }
            &__prices {
                background-color: #fff;
                padding: 40px;
                display: flex;
                border-bottom: 2px solid #f5f5f5;
                &__left-box {
                    width: 35%;
                    height: 100%;
                    font-size: 14px;
                    font-weight: bold;
                    color: #aaa;
                    display: flex;
                    a {
                        text-decoration: none;
                        background-color: #0099e8;
                        color: white;
                        border-radius: 50%;
                        width: 18px;
                        height: 18px;
                        text-align: center;
                    }
                }
                &__right-box {
                    width: 400px;
                    height: 100%;
                    &__top{
                        display: flex;
                        justify-content: space-between;
                        &__left {
                            font-size: 14px;
                            font-weight: bold;
                            span {
                                background-color: red;
                                color: white;
                                padding: 4px;
                                border-radius: 2px;
                            }
                        }
                        &__right {
                            font-size: 14px;
                            .value {
                                height: 50px;
                                border-radius: 5px;
                                border: 1px solid #ccc;
                                padding: 10px;
                                text-align: right;
                            }
                        }
                    }
                    &__center {
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        height: 63px;
                        line-height: 63px;
                        border-top: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                        margin: 20px 0;
                    }
                    &__bottom {
                        display: flex;
                        justify-content: space-between;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                }
            }
            &__bottom-box {
                height: 100%;
                background-color: #fff;
                padding: 40px;
                p {
                    font-size: 14px;
                    a {
                        text-decoration: none;
                        color: #0099e8;
                    }
                }
                .exhibition {
                    background-color: red;
                    width: 100%;
                    color: white;
                    height: 50px;
                    margin-top: 25px;
                }
                button.return {
                    background-color: #aaa;
                    width: 40%;
                    height: 50px;
                    color: white;
                    margin: 25px 0 0 186px;
                }
            }
        }
    }
    &__footer {
        height: 220px;
        width: 456px;
        margin: 0 auto;
        padding: 40px 0;
        text-align: center;
        &__texts {
            text-decoration: none;
            font-size: 12px;
            a {
                text-decoration: none;
                color: black;
            }
        }
        img {
            height: 100px;
            width: 100px;
            margin-top: 30px;
        }
    }
}
