.wrapper{
  width: 100vw;
  .container{
    background-color: white;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    &__header{
      font-size: 22px;
      padding: 32px;
      text-align:center;
      font-weight: bold;
    }
    &__btn-list{
      padding: 24px 16px 40px;
      &__box{
        margin: 0 auto;
        max-width: 343px;
        &__mail-btn {
          width: 100%;
          text-decoration: none;
          display: block;
          &__box{
            color: #fff;
            background-color: #ea352d;
            border: 1px solid transparent;
            border-radius: 4px;
            text-align: center;
            display: flex;
            position: relative;
            p{
              line-height: 48px;
              margin: auto;
            }
            i{
              top: 10px;
              left: 20px;
              position: absolute;
              font-size: 26px;
            }
            }
          }
        &__facebook-btn{
          width: 100%;
          text-decoration: none;
          &__box{
          margin: 16px 0 0;
          background: #385185;
          color: #fff;
          border: 1px solid transparent;
          border-radius: 4px;
          display: flex;
          position: relative;
            p{
              line-height: 48px;
              margin: auto;
            }
            i{
              top: 10px;
              left: 20px;
              position: absolute;
              font-size: 26px;
            }
            }
        }
        &__google-btn{
          height: 48px;
          width: 100%;
          text-decoration: none;
          &__box{
            margin: 16px 0 0;
            border: #979797 solid 1px;
            color: #333;
            border-radius: 4px;
            display: flex;
            position: relative;
            p{
              margin: auto;
              line-height: 48px;
            }
            i{
              top: 10px;
              left: 20px;
              position: absolute;
              font-size: 26px;
              background: -webkit-linear-gradient(top, red , orange , green , blue);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            }
        }
      }
    }
  }
}